@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Climate Crisis';
  src: url('/assets/fonts/ClimateCrisis/ClimateCrisis-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins/Poppins-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins/Poppins-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins/Poppins-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins/Poppins-Italic.ttf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins/Poppins-Light.ttf');
  font-weight: lighter;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins/Poppins-LightItalic.ttf');
  font-weight: lighter;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins/Poppins-Medium.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins/Poppins-MediumItalic.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins/Poppins-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins/Poppins-SemiBoldItalic.ttf');
  font-weight: 600;
  font-style: italic;
}


:root {
  font-family: Poppins, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: 'Climate Crisis';
  font-size: 6rem;
  line-height: 100%;
}

h2,
h3 {
  font-family: Poppins, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 5px;
}

h4 {
  font-family: Poppins, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 5px;
}

p {
  font-size: 1rem;
}

a {
  font-weight: 600;
  color: #ffffff;
  text-decoration: inherit;
}

a:hover {
  color: #FFE485;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
